# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Leitura Tabelas - Comércio e Produção

In [3]:
path_processa_mesa = '../Dados/tech-challenge/content/ProcessaMesa.csv'
path_comercio = '../Dados/tech-challenge/content/Comercio.csv'
path_producao = '../Dados/tech-challenge/content/Producao.csv'

df_processa_mesa = pd.read_csv(path_processa_mesa, sep=';')

df_comercio = pd.read_csv(path_comercio, sep=';', names=df_processa_mesa.columns)
df_producao = pd.read_csv(path_producao, sep=';',names=df_processa_mesa.columns)

display(df_comercio.head())
display(df_producao.head())

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,VINHO DE MESA,VINHO DE MESA,98327606,114399031,118377367,116617910,94173324,108031792,139238614,...,206969571,221590810,206404427,209198468,166769622,176059959,177186273,180446489,215557931,210012238
1,2,vm_Tinto,Tinto,83300735,98522869,101167932,98196747,77167303,91528090,116407222,...,173964776,188033494,178250072,182028785,146646365,154309442,155115499,158519218,189573423,185653678
2,3,vm_Rosado,Rosado,107681,542274,7770851,8425617,8891367,7261777,11748047,...,1738134,1777648,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606
3,4,vm_Branco,Branco,14919190,15333888,9438584,9995546,8114654,9241925,11083345,...,31266661,31779668,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954
4,5,VINHO FINO DE MESA,VINHO FINO DE MESA,4430629,4840369,5602091,7202830,7571802,8848303,14095648,...,22469950,27912934,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,VINHO DE MESA,VINHO DE MESA,217208604,154264651,146953297,116710345,193875345,177401209,144565438,...,212777037,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995
1,2,vm_Tinto,Tinto,174224052,121133369,118180926,88589019,146544484,144274134,118360170,...,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
2,3,vm_Branco,Branco,748400,1160500,1812367,243900,4138768,1441507,1871473,...,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
3,4,vm_Rosado,Rosado,42236152,31970782,26960004,27877426,43192093,31685568,24333795,...,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
4,5,VINHO FINO DE MESA (VINÍFERA),VINHO FINO DE MESA (VINÍFERA),23899346,23586062,21078771,12368410,31644124,39424590,34500590,...,45200730,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998

# Filtro - Ultimos 15 anos

In [4]:
filtro_colunas = ['control', 'cultivar','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']

df_comercio = df_comercio[filtro_colunas]
df_producao = df_producao[filtro_colunas]

# Analise

## Comercio

- Os dados de comercio levantam quantos litros de bebida foram vendidos, levando em consideração o territorio nacional do Brasil.
- Principais tipos de levantamentos a serem feitos:
    1. Definir quais os grupos de bebidas que devem ser utilizadas na análise 
    R: (VINHO DE MESA/VINHO FINO DE MESA/VINHO FRIZANTE/VINHO ORGÂNICO/VINHO ESPECIAL)
    2. Vendas em litros do somatorio desses grupos no decorrer do anos - Descobrir a tendencia de venda desses produtos
    3. Porcentagem da composição da venda total em litros dos vinhos em cima do total geral - Produto com mercado mais abrangente
    4. Da porcentagem do maior grupo, criar gráfico do somatorio apenas dessa bebida do decorrer dos anos e colocar a linha dos tipos desse vinho
    5. Realizar um somatorio apenas do vinho de mesa x o somatorio de todos os outros grupo de bebidas - Para mostrar a força da venda
    6. Mostrar porcentagem de cada tipo para o total dos vinhos produzidos no periodo completo

## Produção

- Os dados de produção levantam quantos litros de bebida foram produzidos, levando em consideração o territorio nacional do Brasil.
- Principais tipos de levantamentos a serem feitos:
    1. Definir quais os grupos de bebidas que devem ser utilizadas na análise 
    R: (VINHO DE MESA/VINHO FINO DE MESA)
    2. Produção em litros do somatorio desses grupos no decorrer dos anos
    3. Porcentagem da composição de cada grupo no somatorio no decorrer dos anos
    4. Identificar a porcentagem de cada tipo no grupo em cima do somatorio dos anos
    5. Comparativo do tipo mais produzido no grupo do vinho de mesa, com os outros subgrupos
    6. Identificar se em algum tipo de derivado existe uma relação os os menos produzidos do vinho

## Comercio x Produção

- Cruzamento das fontes de dados produção e comercio
    1. Fazer um comparativo apenas da produção x comercio de todas as bebidas no decorrer do anos - Validar se a produção é maior do que o comercio ou vice e versa (Aqui existem mais de um gráfico para identificar o comparativo)
    2. Comparar a produção e comercio de tudo que é identificado vinho
    2. Analisar o mercado das outras bebidas pelo comercio e produção