# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Help Functions

# Load Data

## Dados Exportação

In [2]:
df_exp_espumante = pd.read_csv('datasets/tech-challenge/content/ExpEspumantes.csv', delimiter=";")
df_exp_suco      = pd.read_csv('datasets/tech-challenge/content/ExpSuco.csv', delimiter=";")
df_exp_uva       = pd.read_csv('datasets/tech-challenge/content/ExpUva.csv', delimiter=";")
df_exp_vinho     = pd.read_csv('datasets/tech-challenge/content/ExpVinho.csv', delimiter=";")

## Dados Importação

In [3]:
df_imp_espumante = pd.read_csv('datasets/tech-challenge/content/ImpEspumantes.csv', delimiter=";")
df_imp_frescas   = pd.read_csv('datasets/tech-challenge/content/ImpFrescas.csv', delimiter=";")
df_imp_passas    = pd.read_csv('datasets/tech-challenge/content/ImpPassas.csv', delimiter=";")
df_imp_suco      = pd.read_csv('datasets/tech-challenge/content/ImpSuco.csv', delimiter=";")
df_imp_vinho     = pd.read_csv('datasets/tech-challenge/content/ImpVinhos.csv', delimiter=";")

## Dados Processamento

In [4]:
df_processa_americanas = pd.read_csv('datasets/tech-challenge/content/ProcessaAmericanas.csv', sep=';')
df_processa_mesa       = pd.read_csv('datasets/tech-challenge/content/ProcessaMesa.csv', sep=';')
df_processa_sem_class  = pd.read_csv('datasets/tech-challenge/content/ProcessaSemclass.csv', sep=';')
df_processa_viniferas  = pd.read_csv('datasets/tech-challenge/content/ProcessaViniferas.csv', sep=';')

## Dados Comércio

In [5]:
df_comercio = pd.read_csv('datasets/tech-challenge/content/Comercio.csv', sep=';')

## Dados Produção

In [6]:
df_producao = pd.read_csv('datasets/tech-challenge/content/Producao.csv', sep=';')

# Análise Exploratória de Dados

# Tratamento dos Dados

## Tratamento Exportação

In [7]:
colunas = df_exp_vinho.columns[-30:]
colunas = colunas.insert(0, df_exp_vinho.columns[1])

In [9]:
df_exp_espumante = df_exp_espumante[colunas]
df_exp_suco      = df_exp_suco[colunas]
df_exp_uva       = df_exp_uva[colunas]
df_exp_vinho     = df_exp_vinho[colunas]

In [10]:
df_exp_espumante['Produto'] = 'Espumante'
df_exp_suco['Produto']      = 'Suco'
df_exp_uva['Produto']       = 'Uva'
df_exp_vinho['Produto']     = 'Vinho'

In [11]:
df_exp_geral = pd.concat([df_exp_espumante, df_exp_suco, df_exp_uva, df_exp_vinho], ignore_index=True)

In [12]:
new_columns_name = []
for col in df_exp_geral.columns:
    if str(col) == 'País':
        new_columns_name.append(col)
        
    if str(col).endswith(".1"):
        new_columns_name.append(str(col).replace(".1", " KG"))
        
    elif not str(col).endswith(".1") and not str(col) == "País":
        new_columns_name.append(str(col).replace(".1", " US$"))

In [13]:
df_exp_geral.columns = new_columns_name

## Tratamento Importação

In [14]:
colunas = df_imp_espumante.columns[-30:]
colunas = colunas.insert(0, df_imp_espumante.columns[1])

In [15]:
df_imp_espumante = df_imp_espumante[colunas]
df_imp_frescas   = df_imp_frescas[colunas]
df_imp_passas    = df_imp_passas[colunas]
df_imp_suco      = df_imp_suco[colunas]
df_imp_vinho     = df_imp_vinho[colunas]

In [16]:
df_imp_espumante['Produto'] = 'Espumante'
df_imp_frescas['Produto']   = 'Frescas'
df_imp_passas['Produto']    = 'Passas'
df_imp_suco['Produto']      = 'Suco'
df_imp_vinho['Produto']     = 'Vinho'

In [17]:
df_imp_geral = pd.concat([df_imp_espumante, df_imp_frescas, df_imp_passas, df_imp_suco, df_imp_vinho], ignore_index=True)

In [18]:
new_columns_name = []
for col in df_imp_geral.columns:
    if str(col) == 'País':
        new_columns_name.append(col)
        
    if str(col).endswith(".1"):
        new_columns_name.append(str(col).replace(".1", " KG"))
        
    elif not str(col).endswith(".1") and not str(col) == "País":
        new_columns_name.append(str(col).replace(".1", " US$"))

In [19]:
df_imp_geral.columns = new_columns_name

## Tratamento Processamento

In [20]:
df_processa_americanas.drop(index=35, inplace=True)
df_processa_americanas.drop(index=0, inplace=True)

In [21]:
df_processa_mesa.drop(index=0, inplace=True)
df_processa_mesa.drop(index=3, inplace=True)

In [22]:
df_processa_viniferas.drop(index=0, inplace=True)
df_processa_viniferas.drop(index=70, inplace=True)
df_processa_viniferas.drop(index=135, inplace=True)

In [23]:
df_processa = pd.concat([df_processa_americanas,df_processa_mesa,df_processa_viniferas,df_processa_sem_class])

In [24]:
df_processa_filtrada = df_processa[['control', 'cultivar','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']]

In [25]:
df_periodos = df_processa.iloc[:,40:55]
df_tipos = df_processa.iloc[:, 1:3]

In [26]:
df_concat = pd.concat([df_tipos, df_periodos], axis=1)

## Tratamento Comércio

In [27]:
columns_name = df_processa.columns

In [28]:
df_comercio_com_titulo = df_comercio
df_comercio_com_titulo.columns = columns_name

In [29]:
df_comercio_com_titulo.drop(index=0, inplace=True)
df_comercio_com_titulo.drop(index=4, inplace=True)
df_comercio_com_titulo.drop(index=8, inplace=True)
df_comercio_com_titulo.drop(index=9, inplace=True)
df_comercio_com_titulo.drop(index=10, inplace=True)
df_comercio_com_titulo.drop(index=14, inplace=True)
df_comercio_com_titulo.drop(index=18, inplace=True)
df_comercio_com_titulo.drop(index=23, inplace=True)
df_comercio_com_titulo.drop(index=24, inplace=True)

In [30]:
filtro_colunas = ['control', 'cultivar','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']

In [31]:
df_comercio_filtrada = df_comercio_com_titulo[filtro_colunas]

## Tratamento Produção

In [32]:
columns_name = df_processa.columns

In [33]:
df_producao_com_titulo = df_producao
df_producao_com_titulo.columns = columns_name

In [34]:
df_producao_com_titulo.drop(index=0, inplace=True)
df_producao_com_titulo.drop(index=4, inplace=True)
df_producao_com_titulo.drop(index=8, inplace=True)
df_producao_com_titulo.drop(index=14, inplace=True)

In [35]:
filtro_colunas = ['control', 'cultivar','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']

In [36]:
df_producao_filtrada = df_producao_com_titulo[filtro_colunas]

# Exploração dos Dados

## Exploração Exportação

In [37]:
df_exp_geral.head(3)

,País,2007,2007 KG,2008,2008 KG,2009,2009 KG,2010,2010 KG,2011,...,2017 KG,2018,2018 KG,2019,2019 KG,2020,2020 KG,2021,2021 KG,Produto
0,Alemanha,3547,10192,5423,20928,6648,29018,1958,6877,1976,...,28799,4092,21373,1003,5466,2388,14767,142,265,Espumante
1,Angola,6293,26252,2244,10581,11393,33664,104138,672533,904,...,0,63,280,1007,3615,24,38,0,0,Espumante
2,Antigua e Barbuda,0,0,0,0,0,0,0,0,0,...,0,0,0,7,34,32,328,10,82,Espumante

## Exploração Importação

In [38]:
df_imp_geral.head(3)

,País,2007,2007 KG,2008,2008 KG,2009,2009 KG,2010,2010 KG,2011,...,2017 KG,2018,2018 KG,2019,2019 KG,2020,2020 KG,2021,2021 KG,Produto
0,Africa do Sul,90,1073,9212,30630,10381,42463,8121,37035,20213,...,23919,15368,74800,17583,72077,3574,14542,6980,36677,Espumante
1,Alemanha,1980,11786,1959,12516,1170,8434,1116,5753,810,...,37116,18376,82273,26853,169989,21174,65359,19977,46237,Espumante
2,Argentina,556320,1441196,1015357,3094003,894550,2730102,1086901,3583463,997492,...,2249681,706478,2462909,757716,2282614,469547,1304986,723847,2211657,Espumante

## Exploração Processamento

In [39]:
df_processa_filtrada.head(3)

,control,cultivar,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,ti_Bacarina,Bacarina,12070,16780,10810,7850,12930,3820,2990,3900,0,0,0,0,nd,0,0
2,ti_Bailey,Bailey,236139,235828,559815,604895,769140,912286,756000,991449,963159,442784,1370092,539742,nd,534981,4092669
3,ti_Bordo,Bordo,76907674,97644667,69521354,89066377,139754250,127378006,102788361,113008320,137467196,60976531,160146475,158405972,nd,129978861,117655879

## Exploração Comércio

In [40]:
df_comercio_filtrada.head(3)

,control,cultivar,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,vm_Rosado,Rosado,2252558,1840779,2307580,2036928,1668823,1738134,1777648,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606
2,vm_Branco,Branco,29122090,26627054,39214217,30556943,32078923,31266661,31779668,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954
3,VINHO FINO DE MESA,VINHO FINO DE MESA,21485699,23167738,33080270,21390159,19967310,22469950,27912934,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445

## Exploração Produção

In [41]:
df_producao_filtrada.head(3)

,control,cultivar,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,vm_Branco,Branco,42118552,42942053,39211278,35408083,46007504,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
2,vm_Rosado,Rosado,5013136,3506830,2063474,2569809,1719887,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
3,VINHO FINO DE MESA (VINÍFERA),VINHO FINO DE MESA (VINÍFERA),43176484,47334501,39900568,24805713,47598471,45200730,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998

## Levantamento de Hipóteses

In [ ]:
## Insights Requeridos|Atividades

# Criação da Tabela do Head (País de Origem(Brasil), País de Destino, Quantidade em Litros de Vinho Exportado, Valor em US$)
# Informar o montante de vendas de exportação nos ultimos 15 anos, separados por País
# trazer a prospecção futura
# Trazer possíveis melhorias nas exportações
# Criar gráficos informando os detalhes de cada Insight que iremos gerar



# Tabelas de Exportação - O uso delas será para fazer as atividades principais do projeto, que serão: Criação da tabela, separação dos relatórios por pais, prospecção, possiveis melhorias e gráficos.
# Tabelas de Importação - Comparar com a tabela de exportação